body{
    font-family: Poppins;
    background-color: #f8f6f4;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    margin-top: 20px;
    padding-bottom: 80px;
  }
#navbar{
    height: 80px;
}
.navbar.fixed-bottom {
    box-shadow: 0 15px 10px 0 rgba(0, 0, 0, 0.8);
}
#highlighted {
    opacity: 0.7;
}
.btn{
    color: #0c0c0c;
    border-radius: 30px;
    text-align: center;
    background-color: #01c3e7;
    border-color: #01c3e7;
    box-shadow: 5px 5px 10px 0 rgba(12, 12, 12, 0.5);
}
.btn:hover{
    color: #0c0c0c;
    background-color: #01c3e7;
    border-color: #01c3e7;
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out;
}
.btn-white{
    color: #0c0c0c;
    border-radius: 30px;
    text-align: center;
    background-color: #f8f6f4;
    border-color: #f8f6f4;
    box-shadow: 5px 5px 10px 0 rgba(12, 12, 12, 0.5);
}
.btn-white:hover{
    color: #0c0c0c;
    background-color: #f8f6f4;
    border-color: #f8f6f4;
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out;
}

#circle
{
    height: 150px;
    border-radius: 50%;
    box-shadow: 0 5px 20px 0 rgba(12, 12, 12, 0.5);
}

.dp-wrapper {
  perspective: 1000px;
  width: 150px;
  height: 150px;
  position: relative;
  display: inline-block;
}

.dp {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  box-shadow: 0 5px 20px 0 rgba(12, 12, 12, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover; /* keeps image crisp */
  backface-visibility: hidden;
  transition: transform 0.5s ease-in-out;
}

.front { transform: rotateY(0deg); }
.back { transform: rotateY(180deg); }

.dp-wrapper:hover .front { transform: rotateY(180deg); }
.dp-wrapper:hover .back { transform: rotateY(0deg); }


.bContainer{
    margin: 50px;
    padding:50px;
    background-color: rgba(12, 12, 12, 0.5);
    border-radius: 30px;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2); 
    color: #f8f6f4;
    text-align: justify;
}
.bContainer img{
    border-radius: 15px;
    width: 100%; 
    height: auto;   
}
.iframe{
    width: 100%;
}
.masthead {
  padding-top: 200px;
  height: 300px;
  color: #f8f6f4;
  text-align: justify;
  min-height: 475px;
  background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url("./asset/mastH.jpg");
  background-color: black;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.logo:hover, .navbar-brand:hover, .nav-item1:hover {
  transform: scale(1.08);
  transition: transform 0.3s ease;
}

.mainBg {
  background-image: url('./asset/ocean.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed; /* <--- makes it stay in place while content scrolls */
  min-height: 100vh; /* make sure it has some height */
}

/* Make carousel fit full width */
.carousel,
.carousel-inner,
.carousel-item,
.carousel-item img {
  width: 100%; /* full width */
  height: 600px;
  object-fit: cover; /* crop nicely without stretching */
  object-position: center;
  background-color: #0c0c0c;
}


/* LOADER ANIMATION */

.loader-wrapper{
    z-index: 99999;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color:  #0c0c0c;
}

.loader{
    width:200px;
    height:60px;
    position: absolute;
    left:50%;
    top:50%;
    transform: translate(-50%, -50%);
}
.circle{
    width:20px;
    height:20px;
    position: absolute;
    border-radius: 50%;
    background-color: aquamarine;
    left:15%;
    transform-origin: 50%;
    animation: circle .5s alternate infinite ease;
}

@keyframes circle{
    0%{
        top:60px;
        height:5px;
        border-radius: 50px 50px 25px 25px;
        transform: scaleX(1.7);
    }
    40%{
        height:20px;
        border-radius: 50%;
        transform: scaleX(1);
    }
    100%{
        top:0%;
    }
}
.circle:nth-child(2){
    left:45%;
    animation-delay: .2s;
}
.circle:nth-child(3){
    left:auto;
    right:15%;
    animation-delay: .3s;
}
.shade{
    width:20px;
    height:4px;
    border-radius: 50%;
    background-color: rgba(127,255,212,.5);
    position: absolute;
    top:62px;
    transform-origin: 50%;
    z-index: -1;
    left:15%;
    filter: blur(1px);
    animation: shade .5s alternate infinite ease;
}

@keyframes shade{
    0%{
        transform: scaleX(1.5);
    }
    40%{
        transform: scaleX(1);
        opacity: .7;
    }
    100%{
        transform: scaleX(.2);
        opacity: .4;
    }
}
.shade:nth-child(4){
    left: 45%;
    animation-delay: .2s
}
.shade:nth-child(5){
    left:auto;
    right:15%;
    animation-delay: .3s;
}
.loader span{
    position: absolute;
    top:75px;
    font-size: 20px;
    letter-spacing: 12px;
    color: aquamarine;
    left:15%;
}
 
/* PHOTO GALLERY: LIGHTBOX */

.photo-gallery {
  color:#313437;
  background-color:#fff;
}

.photo-gallery p {
  color:#7d8285;
}

.photo-gallery h2 {
  font-weight:bold;
  margin-bottom:40px;
  padding-top:40px;
  color:inherit;
}

@media (max-width:767px) {
  .photo-gallery h2 {
    margin-bottom:25px;
    padding-top:25px;
    font-size:24px;
  }
}

.photo-gallery .intro {
  font-size:16px;
  max-width:500px;
  margin:0 auto 40px;
}

.photo-gallery .intro p {
  margin-bottom:0;
}

.photo-gallery .photos {
  padding-bottom:20px;
}

.photo-gallery .item {
  padding-bottom:30px;
}

.photo-gallery .item img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 5px;
}


